body{background-color:rgb(65, 1, 96); color:green;}

header{height:80px; padding:0; margin:0; 
        border-bottom: solid;}
#left-side{float:left;
            margin-left:50px;}

#left-side a{text-decoration: none; color:green;}



#right-side{float:right; display:flex;
            margin-right:50px;}

nav ul{list-style:none;}

nav li{display:inline; margin:20px;}

.nav-btn{border-radius:10px; border-color: rgb(65, 1, 96);;
    padding-left:10px; padding-right:10px;
    background-color: rgba(105, 103, 103, 0.643);}

.nav-btn:hover{transform: scale(1.1)}

nav li:hover{opacity:1}

nav a {text-decoration: none; color:green; display:inline-block;}

/*Header styling ends here*/

main{margin-top:50px; margin-left:50px; margin-right:50px; display:flex;}

#convert-div{margin:auto;}

#currencyForm{margin:auto; width:100%}

.currency-label{height:50px; width:300px; margin-bottom:5px;  
    padding:5px; font-size:20px; text-align:center; 
    border:none;}

#yourCurrencyBtn{border-radius:10px; border-color: rgb(65, 1, 96);;
    padding-left:10px; padding-right:10px;
    background-color: rgba(105, 103, 103, 0.643); color:green;}

#yourCurrencyBtn:hover{transform: scale(1.1); cursor:pointer;}

#yourAmt{height:30px; text-align:center; margin:0 auto; margin-bottom:20px;}

#exchange-rate{margin-bottom:40px;  text-transform: uppercase;}

#convertCurrencyBtn{border-radius:10px; border-color: rgb(65, 1, 96);;
    padding-left:10px; padding-right:10px; 
    background-color: rgba(105, 103, 103, 0.643); color:green;}

#convertCurrencyBtn:hover{transform: scale(1.1); cursor:pointer;}

#exchangerSubmit{height:50px; margin:0 auto;  border:none; border-radius:5px; text-align:center;
                    padding:10px;
                    background-color:green; color:white;}
#exchangerSubmit:hover{background-color: rgb(53, 136, 53); cursor:pointer;}