body{background-color:rgb(65, 1, 96); color:green;}

header{height:80px; padding:0; margin:0; 
        border-bottom: solid;}
#left-side{float:left;
            margin-left:50px;}

#left-side a{text-decoration: none; color:green;}



#right-side{float:right; display:flex;
            margin-right:50px;}

nav ul{list-style:none;}

nav li{display:inline; margin:20px;}

.nav-btn{border-radius:10px; border-color: rgb(65, 1, 96);;
    padding-left:10px; padding-right:10px;
    background-color: rgba(105, 103, 103, 0.643);}

.nav-btn:hover{transform: scale(1.1)}

nav li:hover{opacity:1}

nav a {text-decoration: none; color:green; display:inline-block;}

/*Header styling ends here*/

main{margin-top:50px;}

#first-line{ margin:auto; display: flex; justify-content: center;}

#your-currency-btn{border-radius:10px; border-color: rgb(65, 1, 96);;
    padding-left:10px; padding-right:10px;
    background-color: rgba(105, 103, 103, 0.643); color:green;}

#convert-currency-btn{border-radius:10px; border-color: rgb(65, 1, 96);;
    padding-left:10px; padding-right:10px;
    background-color: rgba(105, 103, 103, 0.643); color:green;}