body{background-color:rgb(65, 1, 96); color:green;}

header{height:80px; padding:0; margin:0; 
        border-bottom: solid;}
#left-side{float:left;
            margin-left:50px;}
#right-side{float:right; display:flex;
            margin-right:50px;}

nav ul{list-style:none;}

nav li{display:inline; 
    /*border:solid; */
    border-radius:10px; background-color: rgba(105, 103, 103, 0.643);
    padding:15px; margin:20px;}

nav a {text-decoration: none; color:green; display:inline-block;}